/* Fondo de la pantalla y centrado */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F1F5F9; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/*  El Logo */
header img {
    margin-top: 60px;
    width: 150px;
    height: auto;
}

/* CUADRADO CENTRAL */
main {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 90%;
    max-width: 400px;
    margin-top: 2rem;
    box-sizing: border-box;
    text-align: center;
}

/*  Titulo y textos */
h1 {
    color: #1E293B;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

section {
    margin-bottom: 1.25rem;
    text-align: left; 
}

p {
    color: #4B5563;
    margin: 0.5rem 0.5rem 1rem 0;
    font-weight: 500;

}

/* 5. Inputs (Cuadros de texto) */
input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #CBD5E1;
    border-radius: 0.5rem;
    box-sizing: border-box;
    outline: none;
}

input:focus {
    border-color: #16A34A; 
}

/* Botones */
button {
    width: 100%;
    padding: 0.875rem;
    background-color: #16A34A; 
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: #15803D;
}

/* Pie de página */
footer {
    margin-top: 2rem;
    color: #94A3B8;
    font-size: 0.8rem;
}